<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>length</key>
		<string>14</string>
		<key>imageFront</key>
		<string>dinersclub_front</string>
        <key>imageBack</key>
        <string>dinersclub_back</string>
		<key>shortName</key>
		<string>dinersclubintl</string>
		<key>pattern</key>
		<string>^(36|38|30[0-5])</string>
		<key>numberGrouping</key>
		<string>4,6,4</string>
		<key>companyName</key>
		<string>Diners Club</string>
	</dict>
	<dict>
		<key>length</key>
		<string>16</string>
		<key>shortName</key>
		<string>jcb</string>
		<key>pattern</key>
		<string>^35</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>companyName</key>
		<string>JCB</string>
        <key>imageFront</key>
        <string>notrecognized_front</string>
        <key>imageBack</key>
        <string>notrecognized_back</string>
	</dict>
	<dict>
		<key>length</key>
		<string>15</string>
		<key>shortName</key>
		<string>amex</string>
		<key>pattern</key>
		<string>^3[47]</string>
		<key>numberGrouping</key>
		<string>4,6,5</string>
		<key>companyName</key>
		<string>American Express</string>
        <key>imageFront</key>
        <string>americanexpress_front</string>
        <key>imageBack</key>
        <string>americanexpress_back</string>
	</dict>
	<dict>
		<key>length</key>
		<string>16,17,18,19</string>
		<key>shortName</key>
		<string>laser</string>
		<key>pattern</key>
		<string>^(6706|6771|6709)</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>companyName</key>
		<string>Laser Card Services Ltd.</string>
        <key>imageFront</key>
        <string>notrecognized_front</string>
        <key>imageBack</key>
        <string>notrecognized_back</string>
	</dict>
	<dict>
		<key>length</key>
		<string>13,14,15,16</string>
		<key>shortName</key>
		<string>visa</string>
		<key>pattern</key>
		<string>^4</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>companyName</key>
		<string>Visa</string>
        <key>imageFront</key>
        <string>visa_front</string>
        <key>imageBack</key>
        <string>visa_back</string>
	</dict>
	<dict>
		<key>length</key>
		<string>16,17,18,19</string>
		<key>shortName</key>
		<string>unionpay</string>
		<key>pattern</key>
		<string>^(62|88)</string>
		<key>numberGrouping</key>
		<string>19</string>
		<key>companyName</key>
		<string>China UnionPay</string>
        <key>imageFront</key>
        <string>notrecognized_front</string>
        <key>imageBack</key>
        <string>notrecognized_back</string>
	</dict>
	<dict>
		<key>length</key>
		<string>16</string>
		<key>shortName</key>
		<string>mastercard</string>
		<key>pattern</key>
		<string>^5[1-5]</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>companyName</key>
		<string>MasterCard</string>
        <key>imageFront</key>
        <string>mastercard_front</string>
        <key>imageBack</key>
        <string>mastercard_back</string>
	</dict>
	<dict>
		<key>length</key>
		<string>12,13,14,15,16,17,18,19</string>
		<key>shortName</key>
		<string>maestro</string>
		<key>pattern</key>
		<string>^(5018|5020|5038|6304|6759|676[1-3])</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>companyName</key>
		<string>Maestro (MasterCard)</string>
        <key>imageFront</key>
        <string>mastercard_front</string>
        <key>imageBack</key>
        <string>mastercard_back</string>
	</dict>
	<dict>
		<key>length</key>
		<string>16</string>
		<key>shortName</key>
		<string>discover</string>
		<key>pattern</key>
		<string>^(6011|65|64[4-9]|622)</string>
		<key>numberGrouping</key>
		<string>4,4,4,4</string>
		<key>companyName</key>
		<string>Discover</string>
        <key>imageFront</key>
        <string>notrecognized_front</string>
        <key>imageBack</key>
        <string>notrecognized_back</string>
	</dict>
</array>
</plist>
